@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}
.contentBox {
    padding: 7%;
    text-align: center;
}
.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}
.subtitle {
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}
.priceBox {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}
.priceBoxLeft {
    display: flex;
    align-items: center;
    text-align: left;
}
.priceBoxLeft div {
    margin-left: 20px;
}
.priceBoxLeft div h5 {
    font-size:  15px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.priceBoxLeft div p {
    font-size:  14px;
    color: hsl(224, 23%, 55%);
}
.priceBox a {
    font-weight: 900;
    color: hsl(223, 56%, 30%);
}
.priceBox a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}
button.proceedButton {
    display: block;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    margin: 30px 0;
    width: 100%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 10px hsl(225, 100%, 98%);
    
}
button.proceedButton:hover {
    background-color: hsl(224, 23%, 55%);
}
a.cancelButton {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
}
a.cancelButton:hover {
    color: hsl(223, 47%, 23%);
}
@media only screen and (max-width: 425px){
    body {
        background-image: url(images/pattern-background-desktop.svg);
    }
    .container {
        max-width: 90%;
    }
    .title {
        font-size: 24px;
    }
    .subtitle {
        font-size: 12px;
    div.priceBox {
        padding: 12px;
    }
    .priceBoxLeft div {
        margin-left: 10px;
    }
}
